<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="digitalaffirmations-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Digital Affirmations
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="digitalaffirmations-link">
                <a href="{% url 'products' %}?category=gratitude" class="dropdown-item">Gratitude</a>
                <a href="{% url 'products' %}?category=confidence_booster" class="dropdown-item">Confidence Booster</a>
                <a href="{% url 'products' %}?category=sad" class="dropdown-item">Sad</a>
                <a href="{% url 'products' %}?category=all_the_feels" class="dropdown-item">All the feels</a>
                <a href="{% url 'products' %}?category=gratitude,confidence_booster,sad,all_the_feels" class="dropdown-item">All Digital Affirmations</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="affirmationsmerch-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Affirmations Merch
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="affirmationsmerch-link">
                <a href="{% url 'products' %}?category=Mugs" class="dropdown-item">Mugs</a>
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=badges" class="dropdown-item">Badges</a>
                <a href="{% url 'products' %}?category=Mugs,shirts,badges" class="dropdown-item">All Affirmations Merch</a>
            </div>
        </li>
    </ul>
</div>